<h1>UserProduct</h1>
<h1>User List</h1>
<nav>
    <a class="nav nav-justified" routerLink="/userdata" routerLinkActive="active">GET USER DATA </a>
    <a class="nav nav-justified" routerLink="/productdata" routerLinkActive="active">GET PRODUCT DATA</a>
    <a class="nav nav-justified" routerLink="/userdatainsert" routerLinkActive="active">ADD USER DATA </a>
    <a class="nav nav-justified" routerLink="/userdelete" routerLinkActive="active">DELETE USER DATA </a>
</nav>
<router-outlet></router-outlet>
